
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
}
body{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(21,144,169,1) 67%);
           
}
.qrbox{
    display:grid;
    grid-row-gap: 10px;
    
}
img{
    height: 300px;
    width: 300px;
    padding: 1rem;
    border: 2px solid aqua;
    border-radius: 20px;

}
textarea{
    resize:none;
   
}
button{
    background-image: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37));
    border-radius: 20px;
}